@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  margin: 0;
  background-color: #333;
}

.container {
  background-color: #fafafa;
  transform-origin: top left;
  transition: trnsorm 0.5s linera;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.container h1 {
  font-family: "Otomanopee One", sans-serif;
}

.korea-img img {
  width: 40vh;
  height: 50vh;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #ccc;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.circle button {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
}
